{{define packageList}}
<html>
	<head>
		<title>{{ .DisplayName }}</title>
	</head>
	<body>
		<h2>{{ .DisplayName }}</h2>

		<a href="../">Up</a>

		<ul>
			{{range .localVersions }}
			<li>
				<a href=".Address">.Address</a>
			</li>
			{{end}}
		</ul>

	</body>
</html>
{{end}}

{{define allPackages}}
<html>
	<head>
		<title>Source</title>
	</head>
	<body>
		<h2>Source</h2>
		<button data-toggle="collapse" data-target="#{{.PackageName}}">{{.PackageName}}</button>
		<div id="{{.PackageName}}" class="collapse">
			<ul>
				{{range .localVersions }}
				<li>
					<a href=".Address">.Address</a>
				</li>
				{{end}}
			</ul>
		</div>
	</body>
</html>
{{end}}